@use './config' as cfg;

// ==========================
// キーフレーム
// ==========================
@keyframes textOutlineAnime {
  0% {}

  100% {}
}

// ==========================
// ヘッダー
// ==========================
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; // ヘッダー高さ
  z-index: 1000; // メインビジュアルより前面
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: background-color 0.1s ease;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  &.scrolled {
    background-color: rgba(255, 255, 255, 1);
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  .logo {
    width: 30%;
    padding-left: 100px;

    @include cfg.pc() {
      padding-left: 10px;
    }

    @include cfg.ssp() {
      width: 80%;
      padding-left: 0 !important;
    }


    a {
      display: block;
    }

    img {
      width: 100%;
      max-width: 350px;
      height: auto;
    }

    @include cfg.sp() {
      padding-left: 20px;
    }
  }
}

// グローバルナビ（PC）
#menubar {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 100px 0 0;

  @include cfg.pc() {
    padding: 30px 10px 0 0;
  }

  @include cfg.sp() {
    padding: 30px 20px 0 0;
  }

  ul {
    display: flex;

    li {
      a {
        position: relative;
        display: block;
        padding: 10px 20px 20px 10px;
        color: cfg.$primary-color;
        font-weight: bold;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 5px;
          background-color: cfg.$accent-color;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &.is-active::after {
          transform: scaleX(1);
        }
      }
    }
  }

}


.header-contact {
  margin-left: 20px;
}

.hamburger {
  display: none;
}

@include cfg.tab() {
  #menubar {
    display: none;
  }
}


// ハンバーガーメニュー（SP）
@include cfg.tab() {
  .hamburger {
    display: flex;

    .menu-icon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      top: 22px;
      right: 16px;

      span {
        display: block;
        width: 25px;
        height: 3px;
        background: cfg.$primary-color;
        margin: 4px 0;
        transition: all cfg.$transition-speed;
        transform-origin: center;
      }
    }

    // ハンバーガー → ✖ のアニメーション
    input[type="checkbox"]:checked+.menu-icon span:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }

    input[type="checkbox"]:checked+.menu-icon span:nth-child(2) {
      opacity: 0;
    }

    input[type="checkbox"]:checked+.menu-icon span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    // メニュー
    .sp-menu {
      position: fixed;
      top: 60px;
      right: 0;
      width: 200px;
      background-color: cfg.$primary-color;
      max-height: 0;
      overflow: hidden;
      transition: max-height cfg.$transition-speed ease-in-out;
      z-index: 999;

      ul {
        list-style: none;

        li {
          border-bottom: 1px solid #fff;
          opacity: 0;
          transform: translateY(-10px);
          transition: opacity 0.3s ease, transform 0.3s ease;

          a {
            display: block;
            padding: 10px;
            color: #fff;
            text-decoration: none;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    // チェック時にメニュー展開
    input[type="checkbox"]:checked~.sp-menu {
      max-height: 500px;
    }

    input[type="checkbox"]:checked~.sp-menu li {
      opacity: 1;
      transform: translateY(0);
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}


// company, tanker, business, recruit, contact も同様に統一

// ==========================
// フッター
// ==========================
footer {
  color: #fff;
  text-align: center;
  margin-top: 80px;

  .footer-logo img {
    width: 90%;
    max-width: 560px;
    margin: 0 auto 20px;
  }

  .footer-in {
    padding: 50px 0;

    .footer-nav,
    .footer-info {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      &--link {
        margin-top: 3px;
      }

      a {
        color: #333;
        text-decoration: none;
        transition: 0.3s;
        margin-top: 3px;

        &:hover {
          color: cfg.$secondary-color;
          opacity: 0.8;
        }
      }

      p {
        color: cfg.$text-color;
      }
    }

    small {
      display: block;
      color: cfg.$text-color;
      margin-top: 30px;
    }
  }

  .copy-right {
    font-size: 16px;
    margin-top: 10px;
    background-color: cfg.$secondary-color;
    padding: 20px 10px;
  }
}


// ==========================
// メインビジュアル
// ==========================
.mv {
  position: relative;
  width: 100%;
  margin-top: 83px;

  .mv-wrap {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      display: block;
    }

    h2 {
      position: absolute;
      right: 5%;
      max-width: 600px;
      font-size: clamp(26px, 3.5vw, 60px);
      line-height: 1.2;
      font-weight: bold;
      color: #fff;
      text-align: right;
      word-break: break-word;
      z-index: 2;
      padding: 0 20px;
      display: inline-block;
      box-sizing: border-box;

      text-shadow:
        6px 6px 0 cfg.$primary-color,
        -6px 6px 0 cfg.$primary-color,
        6px -6px 0 cfg.$primary-color,
        -6px -6px 0 cfg.$primary-color,
        0 6px 0 cfg.$primary-color,
        0 -6px 0 cfg.$primary-color,
        6px 0 0 cfg.$primary-color,
        -6px 0 0 cfg.$primary-color;

      animation: textOutlineAnime 2s forwards;
    }
  }
}

// ==========================
// 共通セクション
// ==========================
main {
  padding: 0;

  section {
    margin: 0;
  }
}

// ==========================
// トップセクション
// ==========================
section.company,
section.business,
section.recruit,
section.tanker {
  padding: 60px 0;
  max-width: cfg.$max-width;
  margin: 100px auto 0;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

section.company,
section.tanker {
  color: cfg.$white;
  background-color: cfg.$primary-color;
}

section.contact {
  padding: 60px 0;
  color: cfg.$white;
  background-color: cfg.$primary-color;
}

.table-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 100px;

  @include cfg.ssp() {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }


}

section.business,
section.recruit {
  @include cfg.ssp() {
    margin: 50px auto 0;
  }

}



.news {
  padding: 30px 20px;
  margin-top: 50px;

  .news-ttl {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    max-width: 180px;

    @include cfg.ssp() {
      width: 60%;
    }

    h2 {
      font-size: 30px;
      margin-top: 20px;
      color: cfg.$primary-color;
    }
  }

  .news-list {
    width: 65%;

    @include cfg.ssp() {
      width: 100%;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid #ccc;

      @include cfg.ssp() {
        padding: 5px 0;
      }

      .date {
        width: 140px;
        font-size: 14px;
        color: #999;
        flex-shrink: 0; // 固定幅を維持

        @include cfg.ssp() {
          width: 100px;
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #333;
        flex: 1;
        min-width: 0;

        .arrow {
          margin-left: 10px;
          flex-shrink: 0;
          transition: transform 0.3s;
        }

        &:hover .arrow {
          transform: translateX(5px);
        }

        &:hover {
          color: #007BFF;
        }
      }
    }


  }

  .btn-box {
    text-align: center;
    margin-top: 50px;
  }
}



// ==========================
// 会社概要 船舶情報
// ==========================

.company,
.tanker {

  .flex-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;

    @include cfg.tab() {
      flex-direction: column;
      align-items: center;
    }

    .img-box {
      width: 60%;

      @include cfg.tab() {
        width: 100%;
      }
    }

    .text-box {
      width: 40%;

      @include cfg.tab() {
        width: 100%;
      }

      &--in {
        width: 70%;
        min-height: 28vw;
        display: flex;
        flex-direction: column;

        @media (max-width:1025px) {
          width: 100%;
        }
      }

      h2 {
        font-size: 40px;

        @include cfg.pc() {
          font-size: 30px;
        }

      }

      p {
        line-height: 2.5;
        letter-spacing: 0.1em;

        @include cfg.pc() {
          line-height: 1.7;
        }
      }

      .btn-box {
        margin-top: auto;

        @include cfg.tab() {
          margin: 50px auto 0;

        }
      }


    }

  }
}

// ==========================
// 事業内容
// ==========================
.business {
  .flex-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;

    @include cfg.tab() {
      flex-direction: column;
    }

    .img-box {
      width: 55%;

      @include cfg.tab() {
        order: 1;
        width: 100%;
      }
    }

    .text-box {
      width: 27%;

      @include cfg.pc() {
        width: 40%;
      }

      @include cfg.tab() {
        order: 2;
        width: 100%;
      }

      &--in {
        width: 100%;
        min-height: 28vw;
        display: flex;
        flex-direction: column;

        @media (max-width:1025px) {
          width: 100%;
        }

        h2 {
          font-size: 40px;

          @include cfg.pc() {
            font-size: 30px;
          }
        }

        p {
          line-height: 2.5;
          letter-spacing: 0.1em;

          @include cfg.pc() {
            line-height: 1.7;
          }
        }

        .btn-box {
          margin-top: auto;

          @include cfg.tab() {
            margin: 50px auto 0;
          }
        }

      }

    }
  }
}


// ==========================
// 船員募集
// ==========================
.recruit {
  .img-box {
    text-align: center;

    @include cfg.ssp() {
      padding: 0 1em;
    }
  }

  p {
    border-bottom: 1px solid #1f426a;
    padding-bottom: 20px;
  }

  .btn-box {
    text-align: right;
    margin-top: 40px;

    @include cfg.ssp() {
      text-align: center;
    }
  }

}

// ==========================
// お問い合わせ
// ==========================
.contact {

  .flex-1 {
    display: flex;
    justify-content: flex-start;
    gap: 50px;

    @include cfg.pc() {
      gap: 30px;
      padding: 0 2em;
    }

    @include cfg.tab() {
      flex-direction: column;
    }

    .contact-ttl {
      display: flex;
      flex-wrap: wrap;
      width: 30%;
      padding-right: 50px;
      border-right: 1px solid #ccc;

      @include cfg.sp() {
        width: 100%;
        border-right: 0px solid #ccc;
        border-bottom: 1px solid #ccc;
      }


      h2 {
        font-size: 30px;
        margin-top: 10px;

        @include cfg.sp() {
          padding-bottom: 20px;
        }
      }
    }

    .text-box {
      width: 70%;

      @include cfg.sp() {
        width: 100%;
      }

      .flex-2 {
        display: flex;

        @include cfg.ssp() {
          flex-direction: column;
        }

        h3 {
          font-size: 35px;

          @include cfg.pc {
            font-size: 30px;
          }

          &:last-of-type {
            margin-left: 20px;

            @include cfg.ssp() {
              margin-left: 0;
            }

          }
        }
      }

      .btn-box {
        text-align: left;

        a {
          font-size: 20px;
          padding: 10px 80px;
          margin-top: 30px;

          @include cfg.ssp() {
            padding: 10px;
          }
        }
      }
    }
  }
}

.wave-up {
  margin-bottom: -5px;
}

.wave-down {
  margin-top: -5px;
}