@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: 'Optima', 'Segoe UI', "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #333333;
  line-height: 1.8;
}

p {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

a {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #333333;

  &:hover {
    cursor: pointer;
  }
}


a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

th,
td {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

div {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}



// ボタンスタイル
.btn-style {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;

  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  padding: 6px 28px 6px 18px;
  text-align: center;
  outline: none;
  border: #333333 1px solid;
  background-color: #fff;
  width: 200px;
  /*アニメーションの指定*/
  transition: ease .2s;

  &:hover {
    color: #000;
  }

  &--auto {
    width: auto;
  }

  &--left {
    text-align: left;

  }
}

/* 矢印が右に移動 */

.btn-arrow {
  &::after {
    content: '';

    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 42%;
    right: 13px;

    /*矢印の形状*/
    width: 6px;
    height: 6px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    transform: rotate(45deg);

    /*アニメーションの指定*/
    transition: all .3s;
  }

  &:hover::after {
    right: 11px;
  }

  &--top {
    &::after {
      transform: rotate(-45deg);

      /*アニメーションの指定*/
      transition: all .3s;
    }

    &:hover::after {
      top: 12px;
      right: 13px;
    }
  }
}


  .breadcrumb-list-wrap {
    background-color: #fbf8f5;
  

  &__breadcrumb-list {
    display: block;
    max-width: 920px;
    margin: 0 auto 40px;
    font-size: 14px;
    color: #897650;
    padding: 0 0 0 12px;

    @include tab {}
  }
}

// ページャー
.pager-style {
  text-align: center;
  padding: 0 12px;
}

// wp-pagenavi
.wp-pagenavi {
	clear: both;
	text-align:center;
}
.wp-pagenavi a, .wp-pagenavi span {
	color: #795548;
	background-color: #FFFFFF;
	padding: 8px 15px;
	margin: 0 2px;
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
	border: thin dotted #795548;

  @include sp{
    padding: 2px 6px;
  }
}
.wp-pagenavi a:hover{
	color: #fff;
	background-color: #795548;
    }
.wp-pagenavi span.current{
	color: #fff;
	background-color: #795548;
  font-size: 14px;
  }


// ページャー

.pagenation-single {
  position: relative;
  margin: 0 auto 40px;
  width: 280px;

  a:first-child {
    position: absolute;
    left: 32px;
    transform: translateX(-50%);
  }

  a:last-child {
    position: absolute;
    right: 1px;
    transform: translateX(-50%);
  }

  &__center {
    position: absolute;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
  }
}


